#About, #Services, #Whoami, #Contact {
	padding: 70px 0;

	text-align: center;

	h2, h3, p, i { color: #333; }
	h3 { margin-top: 5px; }
}

#About {
	background-color: $blue-color;

	a {
		visibility: hidden;
		margin-top: 30px; 

		border-radius: 5px;

		transition: .15s all ease-in;
	}

	h3 { color: white; }
}

#Services {
	.service-box-left, .service-box-right {	opacity: 0; }
	.service-box { margin-top: 20px; }
	p { color: grey; }
}

#Whoami {
	background-color:#222222;

	img {
		width: 200px;
		height: 200px;

		border-radius: 100%;
	}

	h2, p {color: $text-color;}
}