<section id="About" class="bg-primary">
	<div class="container">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Freelance spécialisé dans le développement Web, je vous propose mes services pour le développement de votre site. Disposant d'une grande expertise dans le domaine du développement Web, je peux répondre à vos attentes.<br></h3>
			<a id="About-btn" class="btn btn-default btn-lg page-scroll" href="#Contact"><i class="fa fa-paper-plane" aria-hidden="true"></i> Me contacter</a>
		</div>
	</div>
</section>

<section id="Services">
	<div class="container">
		<div class="col-lg-12">
			<h2>Mes Services</h2>
			<hr>
		</div>
	</div>

	<div class="container">
		<div class="col-lg-3 col-md-6 service-box-left">
			<div class="service-box">
				<i class="fa fa-4x fa-lightbulb-o" aria-hidden="true"></i>
			</div>

			<h3>Création</h3>
			<p>Création d'un site totalement personnalisé et adapté aux ordinateurs comme aux mobiles.</p>
		</div>

		<div class="col-lg-3 col-md-6 service-box-left">
			<div class="service-box">
				<i class="fa fa-4x fa-cloud-upload" aria-hidden="true"></i>
			</div>

			<h3>Mise en ligne</h3>
			<p>La mise en ligne de votre site pourra être également effectuée par mes soins à votre demande.</p>
		</div>

		<div class="col-lg-3 col-md-6 service-box-right">
			<div class="service-box">
				<i class="fa fa-4x fa-folder" aria-hidden="true"></i>
			</div>

			<h3>Hébergement</h3>
			<p>je peux également si vous le désirez, m'occuper intégralement de l'hébergement de votre site.</p>
		</div>

		<div class="col-lg-3 col-md-6 service-box-right">
			<div class="service-box">
				<i class="fa fa-4x fa-wrench" aria-hidden="true"></i>
			</div>

			<h3>Maintenance</h3>
			<p>En cas de problème ou de demande d'information, je suis à votre disposition 7/7j pour vous aider.</p>
		</div>
	</div>
</section>

<section id="Whoami">
	<div class="container">
		<div class="col-lg-6 col-lg-offset-3">
			<img src="/resources/images/others/profile.jpg" id="img-profile"/>
			
			<h2>Morlet Maxime, 21 ans</h2>
			<p>Étudiant en informatique à l'école 42 depuis deux ans, je suis un jeune développeur passionné par la programmation, et plus particulièrement par le développement Web. Avant tout autodidacte, je programme par simple plaisir depuis plus de 4 ans maintenant.</p>
			<br><p>Bref, j'aime coder.</p>
		</div>
	</div>
</section>
