<section id="Contact">
	<div class="container">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Vous voulez me contacter?</h2>
			<hr>
		</div>

		<div class="col-lg-4 contact-item contact-item-left">
			<h3>Par mail:</h3>
			<a href="mailto:mmorlet@student.42.fr"><i class="fa fa-envelope-o fa-3x"></i><br>Contact@Maxime-Morlet.fr</a>
		</div>

		<div class="col-lg-4 contact-item contact-item-middle">
			<h3>Mon Github:</h3>
			<a target="_blank" href="https://github.com/maxou515"><i class="fa fa-github fa-3x"></i><br>Github.com/maxou515</a>
		</div>
		
		<div class="col-lg-4 contact-item contact-item-right">
			<h3>Mon Stack Overflow:</h3>
			<a target="_blank" href="http://stackoverflow.com/users/4090781/maxime-morlet"><i class="fa fa-stack-overflow fa-3x"></i><br>stackoverflow.com/maxime-morlet</a>
		</div>
	</div>

</section>