<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#header" class="navbar-brand page-scroll">Accueil</a>
		</div>
		
		<div class="navbar-collapse collapse" role="navigation" aria-expanded="false" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#About"><i class="icon-help-circled" aria-hidden="true"></i> À propos</a></li>
				<li><a href="#Services"><i class="icon-align-justify" aria-hidden="true"></i> Mes services</a></li>
				<li><a href="#Whoami"><i class="icon-user" aria-hidden="true"></i> Qui suis-je?</a></li>
				<li><a href="#Contact"><i class="icon-paper-plane" aria-hidden="true"></i> Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<header id="header">
	<div class="header-content">
		<div class="header-content-inner">
			<h1>Maxime Morlet, 21 ans<br>Développeur Web Fullstack</h1>
			<hr>
			<h3>Développez vos projets rapidement grâce à l'aide d'un professionnel.</h3>
			<a class="btn btn-primary btn-lg page-scroll" href="#About">En savoir plus</a>
		</div>
	</div>
</header>